#heading{
    border: 5px solid black;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#main{
    width: 50%;
    background-color: lightgray;
}

.paragraph{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
}